QTextEdit {
    border: 1px solid #da0303;
    border-radius: 15px;
    padding: 8px;
    font-size: 12px;
}

QLabel {
    background-color: #DCF8C6;
    border-radius: 10px;
    padding: 14px;
    font-size: 15px;
    max-height: 30px;
    color: black
}

#send_button {
    width: 100%;
    padding: 1em 3em 1em 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    outline: none;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
    background-color: #298b089f;
}

#send_button:hover {
    background-color: #128C7E;
}

#clear_button {
    background-color: #135cca;
    width: 100%;
    padding: 1em 3em 1em 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    outline: none;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
}

#clear_button:hover {
    background-color: #aa4f1a;
}


